<div class="intro-body">
  <div class="container">
    <div class="row" style="margin-bottom: 2cm"></div>
    <div class="row" style="margin-bottom: 2cm">
      <div class="col-md-8 col-md-offset-2">
        <form name="myLogin" class="well form-horizontal" method="post"  id="contact_form" ng-controller="loginContrl" novalidate>
          <div class="message" style="color:#c62828">{{message}}</div>
         <fieldset>
          <div class="form-group">
            <label class="col-md-4 control-label">Username</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                <input name="username" placeholder="Username" class="form-control" type="text"ng-model="username" required>
              </div>
            </div>
            <span ng-show="myLogin.username.$touched && myLogin.username.$invalid" style="color:red">Username is required</span>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Password</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group"><span class="input-group-addon"><i class="fa fa-eye-slash"></i></span>
              <input name="password" placeholder="Password" class="form-control" type="password" ng-model="password" required>
            </div>
          </div>
          <span ng-show="myLogin.password.$touched && myLogin.password.$invalid" style="color:red">Password is required</span>
      </div>
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">
        <button type="submit" class="btn btn-default btn-xl" ng-click="login(myLogin.$valid)" ng-disabled="myLogin.username.$untouched || myLogin.username.$touched && myLogin.username.$invalid ||
        myLogin.password.$untouched || myLogin.password.$touched && myLogin.password.$invalid">Login</button>
      </div>
  </div>
  <li><a class="page-scroll" href="#!Start">Create Account</a></li>
        </fieldset>
      </form>
          <!--<a href="#" id="left" class="btn btn-default btn-xl">Start bootstrap</a>-->
      </div>
    </div>
  </div>
</div>
