<div class="intro-body" ng-controller="userSession">
  <div class="container">
    <div class="row" style="margin-bottom: 2cm"></div>
    <div class="row">
      <div class="col-xs-6 col-sm-3" ng-repeat="song in one">
        <div class="thumbnail">
             <img src="{{song.img}}" alt="Nature" style="width:100%">
             <div class="caption">
               <audio id="myMusic" controls>
                   <source src="{{song.url}}" type="audio/mpeg">
                     Your browser does not support the audio element.
               </audio>
                Music Title: {{song.title}}
             </div>
        </div>
      </div>
    </div>

        <div class="row">
          <div class="col-xs-6 col-sm-3" ng-repeat="song in two">
            <div class="thumbnail">
                 <img src="{{song.img}}" alt="Nature" style="width:100%">
                 <div class="caption">
                   <audio id="myMusic" controls>
                       <source src="{{song.url}}" type="audio/mpeg">
                         Your browser does not support the audio element.
                   </audio>
                    Music Title: {{song.title}}
                 </div>
            </div>
          </div>
        </div>


    <div class="row">
      <div class="col-xs-6 col-sm-3" ng-repeat="song in three">
        <div class="thumbnail">
             <img src="{{song.img}}" alt="Nature" style="width:100%">
             <div class="caption">
               <audio id="myMusic" controls>
                   <source src="{{song.url}}" type="audio/mpeg">
                     Your browser does not support the audio element.
               </audio>
                Music Title: {{song.title}}
             </div>
        </div>
      </div>
    </div>



   </div>
  </div>
</div>
